/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 85%;
    margin: auto;
}

main {
    margin: 50px 0px;
}

/* ------------
Banner style
--------------- */
.banner-container {
    height: 100%;
    background-color: #1E1E1E;
    border-radius: 30px;
    display: flex;

}

.banner-content {
    color: #FFFFFF;
    padding: 111px 0px 111px 106px;
    width: 100%;
    margin-right: 24px;
}

.banner-content h1 {
    font-size: 4.5rem;
}

.banner-content button {
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    transition: transform 1s ease 0s;
}

.banner-content button:hover {
    transform: scale(2);
}

.banner-photo {
    width: 100%;
    padding: 45px 79px 0 0;
}

.banner-photo img {
    width: 581px;
    height: 613px;
}

/* -------------------
Menu bar and Transfer style
--------------------- */
.menu-bar {
    display: flex;
    margin-top: 130px;
}

.menu {
    width: 312px;
    height: 312px;
    background-color: #1E1E1E;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.match,
.group {
    background-color: #FFFFFF;
    width: 252px;
    height: 64px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.blog {
    background-color: #DD0000;
    width: 252px;
    height: 64px;
    font-size: 20px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.match a,
.group a {
    text-decoration: none;
    color: #161616;
}

.blog a {
    text-decoration: none;
    color: #FFFFFF;
}

.view-all {
    background-color: #DD0000;
    width: 252px;
    height: 64px;
    font-size: 20px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 40px;
}

.view-all {
    visibility: hidden;
}

.view-all a {
    text-decoration: none;
    color: #FFFFFF;
}

/* ------------------
Transfer style
-------------------- */
.transfer-live {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 24px;
}

.transfer {
    width: 312px;
    height: 362px;
    margin-right: 24px;
    margin-bottom: 24px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.transfer img {
    width: 312px;
    height: 175px;
}

.transfer button {
    width: 100px;
    height: 32px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 24px;
}

.transfer h3 {
    margin-left: 24px;
}

.fa-clock {
    margin-left: 24px;
    margin-bottom: 24px;
}

.fa-comment-dots {
    margin-left: 30px;
}

/* -----------------
Footer style
-------------------- */
.goal {
    margin-bottom: 50px;
    padding: 0px 50px;
    background-color: #1E1E1E;
    text-align: center;
    color: #FFFFFF;
    height: 400px;
    display: grid;
    align-items: center;
    font-size: 24px;
}

.goal-media {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.fa-facebook {
    margin-right: 30px;
}

.fa-twitter-square {
    margin-right: 30px;
}

.fa-instagram {
    margin-right: 30px;
}

/* ------------------
Menu of All Groups style
-------------------- */
.match-1,
.blog-1 {
    background-color: #FFFFFF;
    width: 252px;
    height: 64px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.match-1 a,
.blog-1 a {
    text-decoration: none;
    color: #161616;
}


.group-1 {
    background-color: #DD0000;
    width: 252px;
    height: 64px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.group-1 a {
    text-decoration: none;
    color: #FFFFFF;
}

/* -------------------------
 Menu of Upcoming Match Style
----------------------------- */
.group-2,
.blog-2 {
    background-color: #FFFFFF;
    width: 252px;
    height: 64px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.group-2 a,
.blog-2 a {
    text-decoration: none;
    color: #161616;
}

.match-2 {
    background-color: #DD0000;
    width: 252px;
    height: 64px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.match-2 a {
    text-decoration: none;
    color: #FFFFFF;
}

/* -------------------------
 Upcoming Match Style
----------------------------- */
.transfer-1 {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    padding: 50px 10px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.transfer-1 img {
    width: 100px;
    height: 75px;
}

.flag {
    display: flex;
    justify-content: space-around;
}

/* ------------------
  Responsiveness for mobile
--------------------- */
@media only screen and (max-width:576px) {
    main {
        width: 100%;
    }

    .banner-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-bar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .transfer-live {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* ------------------
  Responsiveness for tab
--------------------- */
@media only screen and (min-width:577px) and (max-width:992px) {

    main {
        width: 100%;
    }

    .menu-bar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .transfer-live {
        grid-template-columns: repeat(2, 1fr);
    }

    .view-all {
        visibility: visible;
    }

}